BR2_kvx=y
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_PACKAGE_HOST_GDB=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,kalray,linux_coolidge,6b6e8a4d2dfd4c48f108963578712d4caef4513d)/linux-6b6e8a4d2dfd4c48f108963578712d4caef4513d.tar.gz"
BR2_LINUX_KERNEL_DEFCONFIG="default"
BR2_PACKAGE_DTC=y
BR2_PACKAGE_DTC_PROGRAMS=y
BR2_TARGET_ROOTFS_INITRAMFS=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_BAREBOX=y
BR2_TARGET_BAREBOX_CUSTOM_TARBALL=y
BR2_TARGET_BAREBOX_CUSTOM_TARBALL_LOCATION="$(call github,kalray,barebox,267974e2d1b266d87c6385bd0479f91971a2d5ca)/barebox-267974e2d1b266d87c6385bd0479f91971a2d5ca.tar.gz"
BR2_TARGET_BAREBOX_BOARD_DEFCONFIG="generic"
